<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form #pagoForm="ngForm" (ngSubmit)="addPago(Depto,Periodo)">
                    <mat-form-field>
                        <mat-label>Departamento</mat-label>
                        <mat-select  #Depto (valueChange)="onSelect(Depto.value)">
                            <mat-option 
                                *ngFor="let departamento of departamentos"   
                                [value]="departamento._id"
                            >
                                {{departamento.departamento}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Periodo</mat-label>
                        <mat-select  #Periodo multiple>
                            <mat-option 
                                *ngFor="let periodo of periodos"   
                                [value]="periodo" 
                                [disabled]="periodo.selected"
                            >
                                {{periodo.etiqueta}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <br>
                    <button class="btn btn-primary">
                        Agregar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <th>
                    Departamento
                </th>
                <th>
                    Monto
                </th>
                <th>
                    Inicio periodo
                </th>
                <th>
                    Fin perido
                </th>
                <th>
                    Realizado
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let pago of pagos">
                    <td>{{pago.departamento}}</td>
                    <td>{{pago.monto}}</td>
                    <td>{{pago.Inicio_Periodo}}</td>
                    <td>{{pago.Fin_Peridoo}}</td>
                    <td>
                        <app-btn-switch 
                            [dataPadre]="pago._id" 
                            [classBtn]="pago.togglebtn"
                            [valueEntrada]="pago.pagado"
                            (swirchActivado)="realizaPago($event)"
                        ></app-btn-switch>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
